<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">Alan&rsquo;s Do Lecture: <span class="i">Straight line thinking stops here</span></h4>
</header>
<p class="lh-copy">Designer Alan Moore gives an incisive talk on how technology is revolutionising the way in which we access information and what impact this has upon the media and many other businesses. Many of the old ways of doing business simply do not work any more, which means changing the way business is done — or doing no business at all.</p>

