<div class="video-container">
    <span class="play-button"></span>
    <img src="https://static1.squarespace.com/static/534e83bae4b04f021db095fb/t/55929201e4b0834d1dff7963/1435668994696/Alan-Moore-Portrait1.jpg?format=750w" />
    <iframe src="https://player.vimeo.com/video/9305773" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
