<ul>
<li>An inspirational handbook for makers, designers and creatives</li>
<li>A timely call to make things that are more considered</li>
<li>Includes 14 steps to improving our creative process</li>
<li>Features examples from Blitz Motorcycles, Gransfors Bruk, Yeo Valley, Pixar, Apple</li>
</ul>