<div class="video-container">
    <span class="play-button"></span>
    <img src="https://static1.squarespace.com/static/534e83bae4b04f021db095fb/t/5367a68ae4b087e75b0bb9d1/1399301771090/alice-holden-do-lectures.jpg?format=750w" />
    <iframe width="560" height="315" src="//www.youtube.com/embed/gVRmXSI6Zi4" frameborder="0" allowfullscreen></iframe>
</div>
