<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">Alice&rsquo;s Do Lecture: <span class="i">How to get young people to love the&nbsp;land</span></h4>
</header>
<p class="lh-copy">Alice represents a small group of young people who are choosing a career on the land. She will tell us how and why the work captured her and perhaps even challenge our notions of what it means to be&nbsp;a&nbsp;farmer.</p>