<h2 class="section_title">Alice&rsquo;s Do Lecture: <span>How to get young people to love the&nbsp;land</span></h2>
<p>Alice represents a small group of young people who are choosing a career on the land. She will tell us how and why the work captured her and perhaps even challenge our notions of what it means to be&nbsp;a&nbsp;farmer.</p>