<ul>
<li>Focuses on just 10 vegetables and gives enough basic info to get started</li>
<li>Contains colour photographs and line drawings throughout</li>
<li>Aimed at busy people short on time and space</li>
<li>Includes recipes from Hugh Fearnley-Whittingstall and others</li>
</ul>