<p>Alison and David Lea-Wilson started Halen Môn, the Anglesey Sea Salt company, in 1997. They have always made a living from the sea — first as fishmongers, then aquarium owners — and been fascinated by the process of making sea salt. In 2017, Halen Môn won the Queen’s Award for Sustainability, and in 2019, Alison and David were awarded MBEs for their services to business.
<p>
Their daughter, Jess, is a writer and designer who has worked in the food industry her whole working life. She loves talking about vegetarian food: making it, writing about it, but most of all, eating it.</p>