<ul>
<li>Written by a trio of award-winning salt makers</li>
<li>Insight into why salt is the most important ingredient in any kitchen</li>
<li>Features 20 delicious recipes - all with a salty kick</li>
<li>Stunning colour photography throughout</li>
</ul>
