<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">Alison and David&rsquo;s Do Lecture: <span class="i">Why We Should Value True Eccentricity</span></h4>
</header>
<p class="lh-copy">To be off-centre is the meaning of eccentricity. David and Alison believe that the most interesting things happen around the edges. In this talk, they tell us how doing things off-centre has shaped their lives and their businesses.</p>


