<ul>
<li>Learn to become more present and live more fully</li>
<li>How to be better prepared for death</li>
<li>Includes resources for advance care planning and further information</li>
<li>Beautiful colour photographs throughout</li>
</ul>

