<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">Amanda&rsquo;s Do Lecture: <span class="i">Learning to live with death</span></h4>
</header>
<p class="lh-copy">Amanda hopes that by shifting old paradigms and opening up authentic conversations, she can help us to accept death as part of life and be inspired to live in a more positive and meaningful way.</p>

