<div class="aspect-ratio aspect-ratio--16x9 video-container">
    <span class="play-button"></span>
    <div class="aspect-ratio--object cover" style="background:url(https://images.squarespace-cdn.com/content/v1/534e83bae4b04f021db095fb/1533229398191-YVGQD8DGOP87YOJMRU85/ke17ZwdGBToddI8pDm48kL6Khbdt8-KfFdcfvJCMh2MUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcE9S-tOSiTUdL5xUOI5VebqrFAyrCe0h2KeoaDqM3t7fRyY4swSuo0pA-ZOVI99ss/amnda-blainey.jpg?format=1000w) center;"></div>
    <iframe src="https://player.vimeo.com/video/281587938" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

