<ul>
<li>Bread for Doers: Learn to make sourdough with time-saving tips and simple methods</li>
<li>Create your own sourdough starter to make loaves, pizza, crumpets and more</li>
<li>Written by a baker with over 30 years' experience</li>
<li>Colour photography throughout</li>
</ul>
