<div class="video-container">
    <span class="play-button"></span>
    <img src="https://static1.squarespace.com/static/534e83bae4b04f021db095fb/t/534ea527e4b05a88e5fa96f6/1397663017930/AndrewWhitley.jpg?format=1000w" />
    <iframe width="640" height="360" src="//www.youtube.com/embed/gysMNgARdeo" frameborder="0" allowfullscreen></iframe>
</div>
