<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">Andrew&rsquo;s Do Lecture: <span class="i">Why bread needs time</span></h4>
</header>
<p class="lh-copy">Andrew thinks that changes in the way bread is produced have compromised its integrity. He tells us why - and what we might do to make it better. He reveals what goes into a factory loaf (and what doesn't) and how fast-made bread may be enough to turn your stomach. Andrew calls for the Real Bread Campaign to expose the adulteration of our staple food and to encourage people to take matters into their own hands by making their own bread.</p>
