<ul>
<li>Over 80 stunning recipes from Green Tomato Chutney to Strawberry Gin Fizz </li>
<li>Learn the basic principles and methods of preserving</li>
<li>Find out what equipment and ingredients you need to get started</li>
<li>Discover the best preserving agents to use: sugar, vinegar, alcohol, 
oil and salt
</li>
</ul>