<p>Anja Dunk grew up in the Welsh countryside where homegrown produce and wild foraging were part of daily life. Here began her love for preserving. She now lives with her young family just outside London where she is a caterer and freelance cook.</p>
<br>
<p>Mimi Beaven and her husband Richard, founded the brand Made In Ghent a few years ago. For them, preserving the flavours of the year’s harvest is essential preparation for the cold winter months on the family farm that they are rebuilding in the Hudson Valley, New York. They raise pigs, bees and chickens. Mimi bakes sourdough and cooks super-seasonal goods in the farm kitchen which is sold to the local community from their farm store.</p>
<br>
<p>Jen Goss lives on a smallholding in West Wales with her family, following a lifelong dream to live by the sea and work the land. Her produce – and that from surrounding hedgerows - provides ample supplies for Our Two Acres, her catering company.</p>