<ul>
<li>A beginner’s guide to the art of preserving: principles, methods and recipes</li>
<li>Delicious recipes with a focus on seasonal produce</li>
<li>Stunning colour photography throughout</li>
</ul>
