<div class="aspect-ratio aspect-ratio--16x9 video-container">
    <span class="play-button"></span>
    <div class="aspect-ratio--object cover" style="background:url(https://static1.squarespace.com/static/534e83bae4b04f021db095fb/t/536b8619e4b0fe2bd2fc8c8d/1399555611000/bobette-buster-do-lectures.jpg?format=750w) center;"></div>
    <iframe width="560" height="315" src="//www.youtube.com/embed/fMcZ7wdLqpk" frameborder="0" allowfullscreen></iframe>
</div>
