<ul>
<li>Learn the 10 principles of storytelling that will take your story from good&hellip;to&nbsp;great</li>
<li>Bobette Buster's first book, condensing two decades of storytelling knowledge</li>
<li>Includes practical exercises</li>
</ul>
