<ul>
<li>Learn the 10 principles of storytelling that will turn your story from good&hellip;to&nbsp;great</li>
<li>In our age of content creation, your back story is&nbsp;key</li>
<li>Bobette Buster is a story consultant for Pixar (Toy Story) and other film studios, lecturer and film producer. This is her first&nbsp;book</li>
</ul>
