<ul>
<li>Newly updated and expanded for 2018 with new chapters on Steve Jobs and Yvon Chouinard</li>
<li>Learn the 10 Principles of Storytelling that will take your story from good to great</li>
<li>Bobette's first book, condensing two decades of storytelling expertise</li>
<li>Practical exercises to help you start writing your story.</li>
</ul>
