<ul>
  <li>New title from bestselling author of <i>Do Story</i></li>
<li>Shares skills honed over two decades of listening to and crafting people's stories</li>
<li>Each chapter concludes with practical exercises</li>
<li>Original papercut artworks of related quotes including JK Rowling and Ernest Hemingway</li> 
</ul>