<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">Caroline&rsquo;s Do Lecture: <span class="i">The importance of natural&nbsp;births</span></h4>
</header>
<p class="lh-copy">A passionate and emotive talk from Caroline Flint. A birth teaches a woman how powerful and amazing she is. So why are we treating births like a production line, and not as the most natural thing in the&nbsp;world?</p>