<ul>
<li>Full of practical advice so women can have a better birth experience – whether at home or in&nbsp;hospital</li>
<li>Written by one of the most inspirational figures in the world of&nbsp;childbirth</li>
<li>Caroline Flint has been a practising midwife for 37 years, a former President of the Royal College of Midwives (1994&#8209;5), a founder member of the Association of Radical Midwives, and the first Chair of the Midwives Information and Resource&nbsp;Service.</li>
</ul>
