<div class="video-container">
    <span class="play-button"></span>
    <img src="https://static1.squarespace.com/static/534e83bae4b04f021db095fb/t/536a3c97e4b0bed465fb4559/1399471264624/caroline-flint-do-lectures.jpg?format=750w" />
    <iframe width="560" height="315" src="//www.youtube.com/embed/GF2ACOiomWk" frameborder="0" allowfullscreen></iframe>
</div>
