<h2 class="section_title">Caroline&rsquo;s Do Lecture: <span>The importance of natural&nbsp;births</span></h2>
<p>A passionate and emotive talk from Caroline Flint. A birth teaches a woman how powerful and amazing she is. So why are we treating births like a production line. Not as the most natural thing in the&nbsp;world.</p>