<ul>
<li>The founders' story of how and why it all started</li>
<li>The best speaker inspiration from Do Wales, Do USA and Do Australia</li>
<li>How to curate, produce and host your own beautiful gatherings</li>
<li>Over 100 stunning colour and B&W photographs</li> 
</ul>


