<div class="aspect-ratio aspect-ratio--16x9 video-container">
    <span class="play-button"></span>
    <iframe width="560" height="315" src="https://player.vimeo.com/video/150562147?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>
</div>

