<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">David&rsquo;s Do Lecture: <span class="i">How love, luck and ideas got a town making jeans again</span></h4>
</header>
