<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">David&rsquo;s Do Lecture: <span class="i">How love, luck and ideas got a town making jeans again</span></h4>
</header>
<p class="lh-copy">David Hieatt, co-founder of Hiut Denim Co, talks about why manufacturing is coming back home.</p>