<ul>
<li>Gain insight into all aspects of building a purpose-driven brand</li>
<li>Learn how to define the 'why' behind what you do</li>
<li>Contains stunning black and white photography and linocuts</li>
</ul>
