<div class="video-container">
    <span class="play-button"></span>
    <img src="https://static1.squarespace.com/static/534e83bae4b04f021db095fb/t/536a20f2e4b0db8f7cfb615e/1399464179823/david-hieatt-3.jpg?format=750w" />
    <iframe src="//player.vimeo.com/video/58971164" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
