<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">Dominic&rsquo;s Do Lecture: <span class="i">Journey to Try and Find the Ideas&nbsp;</span></h4>
</header>
<p class="lh-copy">“I’ve created my own situation where I make a living doing what I want to do."&nbsp;</p>