<ul>
<li>The first in a brand new series: Do Inspirationals</li>
<li>Beautifully produced small format, cloth-bound hardbacks that provide encouragement.</li>
<li>Dominic Wilcox is a British artist, designer and the founder of Little Inventors</li>
<li>Features original artwork by Clare Mallison</li>
</ul>