<ul>
<li>An inspiring, practical guide to finding and doing work you love</li>
<li>Aimed at school-leavers, graduates, grown-ups looking for change</li>
<li>Gavin is Senior Designer at Academy Award-winning studio Aardman Animations (Wallace and Gromit, Shaun the Sheep)</li>
<li>Designed and illustrated by Gavin featuring his own photography and graphics</li>
</ul>