<ul>
<li>An inspiring, practical guide to finding and doing work you love</li>
<li>Aimed at school-leavers, graduates and grown-ups looking for change</li>
<li>Gavin is Senior Designer at Academy Award-winning studio Aardman Animations</li>
<li>Gavin's own colour photography and graphics</li>
</ul>
