<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">James&rsquo;s Do Lecture: <span class="i">In singing, we can find our tribe</span></h4>
</header>
<p class="lh-copy">James talks about how singing provides an alternative environment to come together and support each other.</p>


