<ul>
<li>Written by the founder of global online choir, The Sofa Singers</li>
<li>An inspiring look at the life-changing magic of group singing</li>
<li>Includes simple vocal and breathing exercises to improve technique and help overcome barriers</li>
<li>Brings together anecdotal and scientific evidence for the benefits of singing</li>
</ul>