<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">Johnathan&rsquo;s Do Lecture: <span class="i">Why the first legal steps for starting-up a business matter so&nbsp;much</span></h4>
</header>
<p class="lh-copy">Johnathan provides an informative overview of the legal steps and considerations in start-ups and how objectives and aspirations influence the business structure. He concentrates on the role of the private company and the roles and responsibilities of the individuals within the company along with its ownership, management and&nbsp;exit.</p>