<div class="video-container">
    <span class="play-button"></span>
    <img src="https://static1.squarespace.com/static/534e83bae4b04f021db095fb/t/5370a468e4b0fe71c2d4672a/1399891049963/JohnathanRees.jpg?format=750w" />
    <iframe width="640" height="360" src="//www.youtube.com/embed/m7BsdXXrZv4" frameborder="0" allowfullscreen></iframe>
</div>
