<ul>
<li>Things you need to know from a legal perspective for anyone starting their own business</li>
<li>Written in a clear, jargon-free style</li>
<li>Includes chapter summaries and resources</li>
<li>Written by a corporate lawyer with over 25 years' experience</li>
</ul>