<div class="video-container">
    <span class="play-button"></span>
    <img src="https://static1.squarespace.com/static/534e83bae4b04f021db095fb/t/536a4720e4b058f6a3b281f3/1399473965220/les-mckeown-do-lectures.jpg?format=750w" />
    <iframe src="//player.vimeo.com/video/59633815" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
