<article class="product_details wrapper">
	<h4 class="section_title">Product Details</h4>
	<p>Dimensions: {{ product.metafields.attribute.dimensions }}<br/>
	ISBN: {{ product.metafields.attribute.isbn }}<br/>
	eBook ISBN: {{ product.metafields.attribute.eisbn }}</p>
</article>
<article class="artwork_details wrapper">
	<h4 class="section_title">Artwork</h4>
	<p>All editions contain 10 B&amp;W line drawings by Millie Marotta.</p>
</article>
<article class="wrapper paper_details">
	<h4 class="section_title">Paper &amp; print details</h4>
	<p>Paperback editions are printed on Munken, an FSC-certified paper, by Livonia Print in&nbsp;</p>
</article>