<ul>
<li>Les McKeown is the author of WSJ bestseller, <i>Predictable Success</i></li>
<li>He has decades of experience advising industry professionals on personal and team leadership</li>
<li>A refreshingly democratic approach to taking the reins</li>
</ul>
