<ul>
<li>New book from bestselling author Les McKeown</li>
<li>Discover what really makes a great leader - and why it's not what you may think!</li> 
<li>Learn the leadership mindset, the basic toolkit and techniques for dealing with the (inevitable) failures</li>
<li>Grow your business by fostering leadership within all members of your team</li>
</ul>

