<header class="bb bw1 b--dbc-orange mb3 ">
<h4 class="f4 fw5 ma0 lh-title">Les&rsquo;s Do Lecture: <span class="i">How to be a Predictable&nbsp;Success</span></h4>
</header>
<p class="lh-copy">Les has intuitively identified the 7 stages that every business will go through. Some stages you don’t want to be in. And some you want to stay in for ever and a day. Priceless knowledge.</p>