<ul>
<li>The second in our brand new series: Do Inspirationals</li>
<li>Beautifully produced small format, cloth-bound hardbacks that provide encouragement.</li>
<li>Louisa Thomsen Brits is the bestselling author of <i>The Book of Hygge</i></li>
<li>Features original artwork by Linda Felcey and film photography by Jim Marsden</li>
</ul>