<p>Louisa Thomsen Brits is an author, amateur naturalist, outdoor swimmer, mother of four. She has been a restaurant and arts critic and a tribal belly-dance teacher.
<p>
Louisa is interested in our response to the natural world rooted in our humanity, in community, craft, the confluence of poetry and science, domestic and wild. She writes about our common life and the rhythms and rituals that unite and define us all.</p>