<ul>
<li>New book from Mark Shayler, author of Do Disrupt</li>
<li>Key business skill - get to grips with it and get much better at it</li>
<li>Contains reassuring advice, practical guidance and some funny stories</li>
</ul>
