<ul>
<li>Clear advice and guidance to help you turn your big idea into a reality</li>
<li>Workbook format so get ready to write and draw (a bit)</li>
<li>Bold graphic design, genuine author illustrations, inspiring quotes</li>
</ul>
