<h2 class="section_title">Mark&rsquo;s Do Lecture: <span>Do things better and do better&nbsp;things</span></h2>
<p>An insightful talk from the visionary Mark Shayler. Why its not sufficient to do things better, we need to do better things. And why both the planet and the bottom line will thank&nbsp;you.</p>