<ul>
<li>How to take your new business idea from concept to&nbsp;market</li>
<li>Presented in an interactive workbook&nbsp;format</li>
<li>Ideal for creative entrepreneurs and anyone thinking about starting their own&nbsp;business</li>
</ul>
