<div class="video-container">
    <span class="play-button"></span>
    <img src="https://static1.squarespace.com/static/534e83bae4b04f021db095fb/t/536a480ae4b0504793edac1b/1399474188072/mark-shayler-do-lectures.jpg?format=750w" />
    <iframe width="560" height="315" src="//www.youtube.com/embed/U9LGHwafnXE" frameborder="0" allowfullscreen></iframe>
</div>
