<article class="product_details wrapper">
	<h4 class="section_title">Product Details</h4>
	<p>Dimensions: {{ product.metafields.attribute.dimensions }}<br/>
	ISBN: {{ product.metafields.attribute.isbn }}<br/></p>
</article>
<article class="artwork_details wrapper">
	<h4 class="section_title">Artwork</h4>
	<p>B&amp;W drawings and artwork by Mark&nbsp;Shayler.</p>
</article>
<article class="wrapper paper_details">
	<h4 class="section_title">Paper &amp; print details</h4>
	<p>Paperback editions are printed by Livonia Print on Munken, an FSC-certified paperin&nbsp;</p>
</article>