<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">Michael&rsquo;s Do Lecture: <span class="i">Inhale. Exhale. Why we all need to learn how to do this better</span></h4>
</header>
<p class="lh-copy">A reflective and vulnerable talk, Michael’s story is an affirmation of the virtues of following your heart, of being as well as doing, and breathing yourself better.</p>
