<ul>
<li>Simple breathing techniques for instant calm, improved productivity and long-term wellbeing</li>
<li>Author is co-creator of iPhone app BreathSync and a Lululemon ambassador</li>
<li>B&W photography throughout</li>
</ul>
