<h2 class="section_title">Michael&rsquo;s Do Lecture: <span>Inhale. Exhale. Why we all need to learn how to do this better</span></h2>
<p> A reflective and vulnerable talk, Michael’s story is an affirmation of the virtues of following your heart, of being as well as doing, and breathing yourself better.</p>