<div id="microcartwrap">
    <h4 id="microcart" class="mv0 left-align-with-logo">
        {% if cart.item_count != 0 %}
            <a class="link dbc-orange" href="/cart">
        {% endif %}
        Basket: <em>{{ cart.item_count }}{% if cart.item_count == 1 %} item{% else %} items{% endif %}</em>
        {% if cart.item_count != 0 %}
            </a>
        {% endif %}
    </h4>
</div>
