{% if cart.item_count != 0 %}
	<div id="miniandmicro">
		<section id="microcart" class="br2 pa2 hover-bg-white lh-copy">
			<h4 class="fw4 f5 ma0 tc tl-ns cf"><a class="link dbc-orange cf" href="/cart">Basket: <em>{{ cart.item_count }}{% if cart.item_count == 1 %} item{% else %} items{% endif %}</em> <span class="fr-ns ml4 ml0-ns">Pay&nbsp;»</span></a></h4>
  	</section>
	</div>
{% endif %}
