<ul>
<li>Find out how and where to set up your hive</li>
<li>The tools and equipment you need to get started</li>
<li>The job of inspecting the hive</li>
<li>How and when to harvest your honey</li>
</ul>