<div class="aspect-ratio aspect-ratio--16x9 video-container">
    <span class="play-button"></span>
    <div class="aspect-ratio--object cover" style="background:url(https://static1.squarespace.com/static/534e83bae4b04f021db095fb/t/538847f7e4b08c5a2ebf4d25/1401440248473/orren_fox-do_lectures.jpg?format=750w) center;"></div>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/VrgqGGMy1nU" frameborder="0" allowfullscreen></iframe>
</div>
