<ul>
<li>Clear and informative guide for aspiring beekeepers</li>
<li>Find out the equipment you will need</li>
<li>Delicious recipes to put your hard-earned honey to good use</li>
<li>Gorgeous colour photography throughout</li>
</ul>
