<ul>
<li>How using basic improv skills in business will radically improve your&nbsp;performance</li>
<li>Simple quick-to-learn method used by global brands such as Nike, Orange and&nbsp;Disney</li>
<li>Ideal for directors, managers and employees who value innovation and agile&nbsp;thinking</li>
<li>Includes killer games to put theory into&nbsp;practice</li>
<li>Robert Poynton is the co-founder of On Your Feet consultancy and is an Ass. Partner at eatbigfish creative&nbsp;agency</li>
</ul>
