<ul>
<li>Second book from Robert Poynton, author of <i>Do Improvise</i></li>
<li>Timely and much needed, a new approach to coping with the day-to-day</li>
<li>Includes practical tools to help us integrate pause</li>
<li>Features original colour photography by Jim Marsden</li>
</ul>