<h2 class="section_title">Robert&rsquo;s Do Lecture: <span>Beyond Control. A complex world demands the ability to&nbsp;improvise</span></h2>
<p>Do you have a mind like water? Water is flexible. When it meets an obstacle, it goes around it. Improv teaches us to be flexible. To think of everything as a gift, as an&nbsp;opportunity.</p>