<div class="aspect-ratio aspect-ratio--16x9 video-container">
    <span class="play-button"></span>
    <div class="aspect-ratio--object cover" style="background:url(https://static1.squarespace.com/static/534e83bae4b04f021db095fb/t/536a4fa6e4b0da3f231bf836/1399476135724/rob-poynton-do-lectures.jpg?format=750w) center;"></div>
    <iframe width="560" height="315" src="//www.youtube.com/embed/Ua0biwP1mcA" frameborder="0" allowfullscreen></iframe>
</div>
