<header class="bb bw1 b--dbc-orange mb3 ">
      <h4 class="f4 fw5 ma0 lh-title">Robert&rsquo;s Do Lecture: <span class="i">Beyond Control. A complex world demands the ability to&nbsp;improvise</span></h4>
</header>
<p class="lh-copy">Do you have a mind like water? Water is flexible. When it meets an obstacle, it goes around it. Improv teaches us to be flexible. To think of everything as a gift, as an&nbsp;opportunity.</p>