<p>Sue Fan is a photographer and stylist who strives to live a meaningful life by always absorbing her vast surroundings.
She can often be found traipsing and exploring with her two wild dogs and in different corners of the world creating or capturing beauty.</p>
</br>
Danielle Quigley is a photographer, designer and maker living with her husband, young son and big dog in Southern
California where she is constantly working on creating a lusher, wilder and more beautiful life. She is at her best when playing outside and making pretty things.</p>
</br>
Sue and Danielle created Wild Habit, a lifestyle brand that takes inspiration from nature to design homeware,
jewellery, and spaces with the guiding principles of respecting the environment and sharing the natural beauty
of the world. Together, they have created installations for large corporations, restaurants, studios and homes; they have styled for the Do Lectures Wales and USA, and currently have a shop in Oceanside, California.</p>

