<ul>
<li>Interior styling advice with an emphasis on nature as a source of inspiration</li>
<li>Beautiful colour photography throughout</li>
<li>Includes practical tips on styling a supper table and how to hang art</li>
</ul>

