<ul>
<li>Learn how to ground yourself, reset your mind and move forward</li>
<li>Develop a giving mindset</li>
<li>Exercise self-compassion - turn the inner voice from negative to positive</li>
<li>Practical exercises, learning points and encouragement</li>
<li>Original artworks by <i>Do Fly</i> author, Gavin Strange</li>
</ul>

