<ul>
  <li>Tom is a fifth-generation baker, bestselling author and TV chef</li>
  <li>Stunning colour photography by Jody Daunton</li>
  <li>Faff-free ingredients, measurements and kit</li>
   <li>In the event of rain, recipes can be made at home!</li>
</ul>
