<p>Tom is a fifth-generation baker on a mission to revisit
the sheer awesomeness of grains when it comes to taste, nutrition and impact. 
Tom is one half of TV’s Fabulous Baker Brothers. He started baking at the Hobbs House Bakery but more recently
has baked with RCK (Refugee Community Kitchen) in Calais and Ujima Bakehouse in Kenya. In addition to baking, he also teaches, writes, presents, and mentors. As an ambassador for the development charity
Tearfund (tearfund.org), for whom he has baked around the world, he helps to give people a hand up by sharing skills 
and knowledge. His dream is to one day be able to bake in space. Tom has been married to Anna since they were very young; they now share their life together with four children: Milo,
Beatrix, Josephine and Prudence.</p>
