:root {
    --dbc-orange: #ee5830;
    --dbc-washed-orange: #fdeae6;
    --dbc-grey: #f4efef;
}

/* Colours */
.dbc-orange, .hover-dbc-orange:hover {
    color: var(--dbc-orange);
}
.b--dbc-orange {
    border-color: var(--dbc-orange);
}
.bg-dbc-orange {
    background-color: var(--dbc-orange);
}
.dbc-washed-orange {
    color: var(--dbc-washed-orange);
}
.b--dbc-washed-orange {
    border-color: var(--dbc-washed-orange);
}
.bg-dbc-washed-orange {
    background-color: var(--dbc-washed-orange);
}
.dbc-grey {
    color: var(--dbc-grey);
}
.b--dbc-grey {
    border-color: var(--dbc-grey);
}
.bg-dbc-grey {
    background-color: var(--dbc-grey);
}

/* Fonts */
body,
input {
  font-family: "adobe-caslon-pro", Georgia, serif;
  text-rendering: optimizeLegibility;
}

h1,
h2 {
  font-family: "adobe-caslon-pro", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

h3 {
  font-family: "adobe-caslon-pro", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

.caslon {
    font-family: "adobe-caslon-pro", Georgia, serif;
}

.myriad {
 font-family: "myriad-pro-condensed", sans-serif;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 30em) {
  .left-align-with-logo {
      margin-left: 1.5rem;
  }
}

input:checked + .radio-button-label,
.radio-button-label:hover {
    background-color: var(--dbc-orange);
    color: #fff;
}

.slick-arrow {
    appearance: none;
    position: absolute;
    top: 50%;
    transform: translate(0 -50%);
    z-index: 100;
    background: transparent;
    padding: .5em;
    width: 4em;
    height: 4em;
    color: transparent;
    border: 0;
    outline: none;
}

.slick-prev {
    left: 1em;
}

.slick-next {
    right: 1em;
    text-align: right;
}

.slick-prev:before,
.slick-next:before {
    font-size: 3em;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    opacity: 1;
}

.slick-prev:before {
    content: '\27EA';
}

.slick-next:before {
    content: '\27EB';
}

.slick-dots {
    position: absolute;
    bottom: -2.5rem;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 2rem;
    height: 2rem;
    margin: 0 .25rem;

    cursor: pointer;
}

.slick-dots button {
    cursor: pointer;

    color: transparent;
    display: table;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    background: transparent;
    padding: 0;
}

.slick-dots li button:before {
    font-size: 2.5em;
    line-height: .625;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '•';
    opacity: .25;
    color: var(--dbc-orange);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li button:hover:before,
.slick-dots .slick-active button:before {
    opacity: .75;
}

.slide-text-top-left {
    top: 2em;
    left: 2em;
}

.slide-text-top-center {
    top: 2em;
    left: 50%;
    transform: translate(-50%, 0);
}

.slide-text-top-right {
    top: 2em;
    right: 2em;
}

.slide-text-center-left {
    top: 50%;
    left: 2em;
    transform: translate(0, -50%);
}

.slide-text-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide-text-center-right {
    top: 50%;
    right: 2em;
    transform: translate(0, -50%);
}

.slide-text-bottom-left {
    bottom: 2em;
    left: 2em;
}

.slide-text-bottom-center {
    bottom: 2em;
    left: 50%;
    transform: translate(-50%, 0);
}

.slide-text-bottom-right {
    bottom: 2em;
    right: 2em;
}

.light-overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: .2;
    content: '';
    transition: opacity .2s linear;
}

.dark-overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #111;
    opacity: .2;
    content: '';
}

.absolute-vertical-align {
    top: 50%;
    transform: translate(0 -50%);
}


a:hover .dark-overlay-dim.dark-overlay::before {
  opacity: .5
}

@media screen and (min-width: 30em) {
  .grid-offset {
    margin: 0 -1rem;
  }
}

.product-thumb:hover figure {
  top: -.5rem;
  position: relative;
}

figure {
  margin: 0;
}

.columned-list {
  column-count: 2;
  column-gap: 1em;
}

@media screen and (min-width: 30em) {
  .columned-list {
    column-count: 3;
  }
}

@media screen and (min-width: 60em) {
  .columned-list {
    column-count: 4;
  }
}

@media screen and (min-width: 30em) {
  header[role="banner"] {
    width: 14rem;
  }
  .container-wrapper {
    margin-left: 14rem;
  }
}

/* PRODUCT PAGE */

.video-container {
    position: relative;
}

.video-container img,
.video-container iframe {
    position: absolute;
}

.video-container .aspect-ratio--object {
    z-index: 10;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 0;
    height: 0;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-left: 3rem solid white;
    transform: translate(-50%, -50%);
}

.play-button:hover {
    border-left-color: var(--dbc-orange);
}

.video-container iframe {
    z-index: 0;
}

.review blockquote { margin: .75em 0 .75em .5em; padding-left: .5em; border-left: .25em solid #f8f8f8; font-size: 1.125em; line-height: 1.5; }
.review cite { font-weight: bold; }
.review+.review { margin-top: 1.5em; }

figure iframe, figure object, figure embed, figure video {
  max-width: 100%;
  display: block; }

.button {
    -webkit-appearance: none;
    display: block;
    margin: .75em 0;
    padding: .25em .75em;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: .25em;
    font-family: "myriad-pro-condensed", sans-serif;
    text-transform: uppercase;
    border: 1px solid #f2f2f2;
    -webkit-font-smoothing: antialiased;
}
.button:hover {
    border: 1px solid #D9D9D9;
}

.bookformat {
    display: none;
}

#price-field {
    position: absolute;
    top:.25em;
    right: 0;
    font-size: .8125em;
}

.launch header {
    margin: .75em 0;
}

.addtocart label span,
.description {
    display: block;
    font-size: .75em;
    font-family: "adobe-caslon-pro", Georgia, serif;
    text-transform: none;
    font-weight: 600;
    font-style: italic;
    line-height: 1.2;
    margin-top:.25em;
}

.addtocart label.button {
    padding-bottom: .125em;
    transition: all 0.3s ease-out;
}

.button.special,
.bookformat:checked+label {
    background-color: var(--dbc-washed-orange);
    border-color: var(--dbc-orange);
}

.addtocart .submit.button {
    width: 100%;
    margin-top: 0;
}

.js .addtocart .submit.button {
    display: none;
}

.addtocart .button {
    margin-top: 0;
}

.addtocart .helperText {
    text-align: center;
    line-height: 1.2;
    font-weight: normal;
}

section[role="main"] .helperText a:link,
section[role="main"] .helperText a:visited { text-decoration: none!important;
    color: #8B8B8B;
    font-style: italic;
}

.selector-wrapper label {
    font-size: .8125em;
    display: block;
    width: 100%;
}

.selector-wrapper select {
    display: block;
    width: 100%;
}

.just-updated #microcart {
    animation: colorchange 500ms 1 linear;
}

@keyframes colorchange {
    0%, 50% {
        background: var(--dbc-washed-orange);
    }

    99% {
        background: var(--dbc-washed-orange);
    }
    100% {
        background: #fff;
    }
}

/* Popup subscribe thing */
.popup-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup_close-box {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
 }
.popup_close-box:hover::before, .popup_close-box:hover::after {
  background: var(--dbc-orange);
}

.popup_close-box::before, .popup_close-box::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -4px;
    background: #000;
    border-radius: 3px;
 }
  .popup_close-box::before {
     transform: rotate(45deg);
  }
  .popup_close-box::after {
    transform: rotate(-45deg);
  }
