:root {
    --dbc-orange: #d93c12;
    --dbc-grey: #f4efef;
}

/* Colours */
.dbc-orange {
    color: var(--dbc-orange);
}
.b--dbc-orange {
    border-color: var(--dbc-orange);
}
.bg-dbc-orange {
    background-color: var(--dbc-orange);
}
.dbc-grey {
    color: var(--dbc-grey);
}
.b--dbc-grey {
    border-color: var(--dbc-grey);
}
.bg-dbc-grey {
    background-color: var(--dbc-grey);
}

/* Fonts */
body,
input {
  font-family: "adobe-caslon-pro", Georgia, serif;
  text-rendering: optimizeLegibility;
}

h1,
h2 {
  font-family: "adobe-caslon-pro", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}

h3 {
  font-family: "adobe-caslon-pro", Georgia, serif;
  font-weight: 600;
}
